@use "../../../sass/base/variables.scss" as *;

.auth {
  background-color: #3a3a3a;
  width: 100%;
  min-height: 100vh;
  padding-top: 50px;
  .container {
    form {
      width: 576px;
      // height: 570px;
      background-color: $color-black;
      padding-top: 63px;
      padding-bottom: 60px;
      padding-left: 57px;
      margin: 0 auto;
      position: relative;

      h2 {
        color: $color-white;
        text-transform: uppercase;
        font-weight: normal;
        font-size: 40px;
        text-align: left;
      }

      label {
        display: block;
        color: $color-red;
        text-align: left;
        margin-top: 30px;
        font-weight: 500;
        letter-spacing: 0.89px;
        input {
          display: block;
          margin-top: 13px;
          background-color: #323232;
          border-radius: 4px;
          padding-left: 18px;
          height: 40px;
          width: 90%;
          color: $color-white;
        }
      }
      .registration {
        text-decoration: none;
        color: $color-white;
        display: flex;
        margin-top: 20px;
      }
      .login {
        text-decoration: none;
        color: $color-white;
        display: flex;
        margin-top: 20px;
      }
      .error {
        color: $color-red;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 20px;
      }
      .success {
        color: green;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 20px;
      }
      .buttons {
        margin-top: 100px;
        width: 90%;
        display: flex;
        justify-content: flex-end;
        .reset_button {
          border: 1px solid $color-red;
          background-color: transparent;
          color: $color-red;
          text-transform: uppercase;
          padding: 10px 30px;
          cursor: pointer;
          margin-right: 13px;
          &:active {
            transform: scale(0.9);
          }
        }
        .login_button {
          background-color: $color-red;
          border: none;
          color: $color-white;
          text-transform: uppercase;
          padding: 10px 30px;
          cursor: pointer;
          &:active {
            transform: scale(0.9);
          }
        }
        .register_button {
          background-color: $color-red;
          border: none;
          color: $color-white;
          text-transform: uppercase;
          padding: 10px 30px;
          cursor: pointer;
          &:active {
            transform: scale(0.9);
          }
        }
      }
    }
  }
}
