@use "../../../sass/base/variables.scss" as *;

.movie_form {
  margin-top: 130px;
  margin-bottom: 130px;
  .container {
    .form {
      background-color: $color-black;
      position: relative;
      padding-top: 64px;
      padding-left: 41px;
      padding-bottom: 60px;
      .fa-xmark {
        color: $color-white;
        position: absolute;
        top: 30px;
        right: 35px;
        cursor: pointer;
        font-size: 30px;
      }
      h2 {
        color: $color-white;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 40px;
        text-align: left;
      }
      form {
        display: flex;
        flex-wrap: wrap;
        margin-top: 38px;
        gap: 30px;
        input {
          width: 100%;
          height: 40px;
          color: $color-white;
          background-color: $color-dark;
          border: none;
          padding-left: 18px;
          opacity: 0.8;
        }
        input[type="date"]::-webkit-calendar-picker-indicator {
          filter: invert(45%) sepia(90%) saturate(6500%) hue-rotate(330deg)
            brightness(95%) contrast(105%);
          font-size: 25px;
          cursor: pointer;
        }
        label {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          color: $color-red;
          opacity: 0.8;
          font-weight: 600;
          row-gap: 13px;
          .error {
            font-size: 14px;
            font-weight: 400;
            opacity: 0.8;
          }
        }
        .title,
        .poster,
        .genre {
          width: 525px;
        }
        .genre {
          align-items: flex-start;
          select {
            background-color: $color-dark;
            border: none;
            color: $color-white;
            width: 100%;
            height: 40px;
            opacity: 0.8;
            padding-left: 13px;
          }
        }
        .date,
        .rating,
        .duration {
          width: 301px;
        }
        .description {
          width: 100%;
          align-items: flex-start;
          textarea {
            background-color: $color-dark;
            resize: none;
            border: none;
            width: 859px;
            height: 120px;
            padding-left: 18px;
            padding-top: 18px;
            opacity: 0.8;
            color: $color-white;
          }
        }
        .buttons {
          display: flex;
          width: 859px;
          justify-content: flex-end;
          gap: 13px;
          &__reset,
          &__submit {
            border: 1px solid $color-red;
            background-color: $color-red;
            color: $color-white;
            text-transform: uppercase;
            width: 125px;
            height: 40px;
            font-weight: 500;
            cursor: pointer;
            &:active {
              transform: scale(0.9);
            }
          }
          &__reset {
            background-color: transparent;
            color: $color-red;
          }
        }
      }
    }
  }
}
